$body-color: #485451;
$error-color: #C95D5D;

$heading-font: "Varela Round", Helvetica, Arial, sans-serif;
$body-font: "Lato", Helvetica, Arial, sans-serif;

$blue-bg: rgb(15, 82, 186);
$light-blue: #5A87CC;
